# CONSTANTS
DBL="/home/erik/dev/dbl/cfg"		# typically /etc/dbl
ANALYSIS=update_blacklist		# default descriptive analysis name, overwritten by dbl.d/*.sh script
BLACKLIST="$DBL/blacklist"		# blacklist containing to-be-blocked IP addresses
DEFAULT_LIMIT=10			# default, overwritten by dbl.d/*.sh scripts
OLDEST=37				# oldest [days] allowed entry in blacklist
SCRIPTS="$DBL/dbl.d/*.sh"		
WHITELIST="$DBL/whitelist"
LOG="$DBL/dbl.log"				# typically in /var/log
LOCK="/tmp/dbl.lock"
